@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

.app {
  background: #191919;
  min-height: 100vh;
  width: full;
  overflow-x: hidden;
  color: white;
}
span {
  color: #09dd6d;
}
.button-var-1 {
  padding: 5px 8px;
  font-size: 0.95rem;
  white-space: nowrap;
  border-radius: 10px;
  background: #191919;
  color: #09dd6d;
  border: 1px solid #09dd6d;
}
